/* .btn {
    background-color: #06aed5;
    color: white;
  } */

.currentIcon {
    width: 80px;
}

.fav {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}

.btn-clear {
    background-color: silver;
}

.hide {
    display: none;
}

.show {
    display: block;
}